* 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;  
}

::-webkit-scrollbar-thumb {
    background-color: #f2f2f2;
}

::-webkit-scrollbar {
    width: 10px;
    background-color: #353b48;
}

body
{
    background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
    background-repeat: no-repeat;
    color: #f2f2f2;
}

/* nav bar starts */

#nav-bar
{
    position: fixed;
    display: flex;
    top: 0;
    right: 0;
    min-height: 55px;
    color: #020202;
    width: 100%;
    background-color: #f2f2f2;
    z-index: 5;
    padding: 5px;
}

#nav-bar p 
{
    display: flex;
    margin-left: 10px;
    font-size: 1.35em;
    align-items: center;
    white-space: nowrap;
    margin-right: 20px;
}

#header-img 
{
    width: 55px;
    height: 55px;
    align-items: center;
}

li a {
    float: right;
    color: black;
    padding: 12px;
    padding-top: 17px;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 25px;
    border-radius: 4px;
}

li a:hover {
    background-color: #8BC6EC;
    color: black;
}

#text-div 
{
    width: calc(100% - 50px);
}

/* main starts */

.formcenter 
{
    min-height: 65vh;
    display: flex;
    flex-direction: column;
    color: #000;
    text-align: center;
    justify-content: center;
    align-content: center;
}

.formcenter h2
{
    font-size: 2rem;
    color: #f2f2f2;
    margin-top: 10px;
    margin-bottom: 10px;
}

#email 
{
    width: 35%;
    height: 35px;
    border-radius: 5px;
    border-color: #020202;
    padding: 5px;
    margin-top: 15px;
}

.submit
{
    width: 10%;
    height: 30px;
    border-radius: 5px;
    border-color: #020202;
    margin-top: 5px;
    cursor: pointer;
}

.submit:hover 
{
    background-color: #DB9426;
    color: #020202;
}

/* Section features start */

#features
{
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
    justify-content: space-around;
    height: 55vh;
}

/* section pricing starts */

#container {
    width: 100%;
    min-height: 20rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 50px;
}

.mini-container {
    width: 30%;
    min-height: 20rem;
    margin-bottom: 40px;
    border: 1px solid #020202;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
}

.conttop {
    text-transform: uppercase;
    font-weight: 700;
    padding: 10px;
}

.contbot
{
    margin-top: 0;
}

.price
{
    font-size: 1.6rem;
    padding: 5px;
}

.sell 
{
    font-size: 1.5rem;
    padding-bottom: 10px;
}

.soldout {
    padding: 0;
    margin-top: 1rem;
    font-size: 1.3rem;
    margin-bottom: 2rem;
}

.anchorbuy {
    padding: 10px;
    color: #020202;
    font-size: 1.5rem;
    border: 2px #020202;
    background-color: #f2f2f2;
}

/* section why use it starts */

#why-use-it
{
    padding: 50px;
    text-align: center;
}

/* footer starts */

footer
{
    margin-top: 0;
    min-height: 55px;
    text-align: right;
    background-color: #f2f2f2;
    padding: 2rem;
}

footer a 
{
    text-decoration: none;
    color: #020202;
    padding: 15px;
    border-radius: 5px;
}

footer a:hover {
    background-color: #8BC6EC;;
    color: black;
}

/* media */

@media (max-width: 600px) 
{
    #nav-bar
    {
        height: 55px;
    }
    #video
    {
        width: 300px;
        height: auto;
    }
}
